.header__container {
    width: 100;

    background-color: #090F0F;
}

.header__wrapper {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    display: flex;
    column-gap: 32px;
}

.header__leftContent {
    display: flex;

    @media screen and (max-width: 898px){
        display: none;
    }
}

.header__left--text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #B1B3B3;

    padding-left: 9px;
}


.header_icon {
    width: 160px;
    height: 24px;

    @media screen and (max-width: 678px){
        width: 130px;
        height: 20px;
    }
}
.header_right {
    display: flex;
    align-items: center;

    @media screen and (max-width: 898px){
        display: none;
    }
}

.header_tools_wrapper {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header_user_wrapper {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-left: 50px;
}

.header_user_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B1B3B3;
}

.header_user_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: #B1B3B3;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;

}

.header_mobile_container {
    display: none;

    @media screen and (max-width: 898px){
        display: flex;
        align-items: center;
        column-gap: 26px;
    }
}